<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial-investment</label>
            <input name="initial-investment" [(ngModel)]="enteredInitialInvestment" type="number" id="initial-investment">
        </p>
        <p>
            <label for="annual-investment">Annual-investment</label>
            <input name="annual-investmentt" [(ngModel)]="enteredAnnualInvestment" type="number" id="annual-investment">
        </p>
    </div>

    <div class="input-group">
        <p>
            <label for="expected-return">Expected-return</label>
            <input name="expected-return" [(ngModel)]="enteredExpectedReturn" type="number" id="expected-return">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input name="duration" [(ngModel)]="enteredDuration" type="number" id="duration">
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>

</form>